@import url('https://fonts.googleapis.com/css2?family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   text-decoration: none;
}

li{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Share', sans-serif;
    background-color: rgba(232, 219, 221, 0.272)
}

.main-container{
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.font-main{
    font-family: 'Share', sans-serif
}

.font-dancing{
    font-family: 'Dancing Script', cursive;
}

.bg-primary{
    background-color: #d2c3d4;
}
.bg-secondary{
    /* background-color: #FFF0F0; */
    background-color: #f5d7d7;
}
.accent-color{
    background-color: #835858;
}
.text-primary{
    color: #463333;
}
.scroll-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #463333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  